
@{
    ViewBag.Title = "Completed";
}


<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Siparişiniz Tamamlandı!</h4>
        <p>Ürünleriniz en yakın zamanda kargoya verilecektir.</p>
        <hr>
        
    </div>
</div>